.header {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex: 1;
    padding: 2rem;
    color: #fff;
    background: rgba(#007aff, 0.9);
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    color: #fff;
}

.profile {
    cursor: pointer;
}