.footer {
    position: relative;
    z-index: 11;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
    background: #242C32;
    justify-content: center;
    align-items: center;
}